body {
    background-color: #dc3545;
  }

#container {
    margin: auto;
    width: 90%;
}

#collectors, #collector {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#back {
    padding: 3px;
}

#textBlock {
    height: 100%;
    width: 50%;
    background-color: rgb(231, 228, 228);
    text-align: center;
    display: inline-block;
    border-radius: 5%;
    outline-style: solid;
    outline-width: 5px;
    outline-color: rgb(0, 0, 0);
}


td {
    padding: 3px;
}